/.vscode
/cell.o
/puzzle.o
/solver.exe
/solver.o
puzzles/sudoku0.txt
puzzles/sudoku1.txt
puzzles/sudoku2.txt
puzzles/sudoku3.txt
puzzles/sudoku4.txt
puzzles/sudoku5.txt
puzzles/sudoku6.txt
puzzles/sudoku7.txt
puzzles/sudoku8.txt
puzzles/sudoku9.txt
puzzles/sudoku10.txt
puzzles/sudoku11.txt
puzzles/sudoku12.txt
puzzles/sudoku13.txt
puzzles/sudoku14.txt
puzzles/sudoku15.txt
puzzles/sudoku16.txt
puzzles/sudoku17.txt
puzzles/sudoku18.txt
puzzles/sudoku19.txt
puzzles/sudoku20.txt
puzzles/sudoku21.txt
puzzles/sudoku22.txt
puzzles/sudoku23.txt
puzzles/sudoku24.txt
puzzles/sudoku25.txt
puzzles/sudoku26.txt
puzzles/sudoku27.txt
puzzles/sudoku28.txt
puzzles/sudoku29.txt
puzzles/sudoku30.txt
puzzles/sudoku31.txt
puzzles/sudoku32.txt
puzzles/sudoku33.txt
puzzles/sudoku34.txt
puzzles/sudoku35.txt
puzzles/sudoku36.txt
puzzles/sudoku37.txt
puzzles/sudoku38.txt
puzzles/sudoku39.txt
puzzles/sudoku40.txt
puzzles/sudoku41.txt
puzzles/sudoku42.txt
puzzles/sudoku43.txt
puzzles/sudoku44.txt
puzzles/sudoku45.txt
puzzles/sudoku46.txt
puzzles/sudoku47.txt
puzzles/sudoku48.txt
puzzles/sudoku49.txt
sudoku1.txt
testsudoku.txt
puzzles/sudoku50.txt
puzzles/sudoku51.txt
puzzles/sudoku52.txt
puzzles/sudoku53.txt
